* {
    box-sizing: border-box;
}
body{
    background-image: url("images/mapleleaf.jpg");
   
    /*background: rgba(214, 159, 127, 0.932)*/
}
h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    padding: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px oldlace;

}

#message{
    text-align: center;
    font-size: 40px;
    color: rgb(54, 47, 47);
    padding-bottom: 50px;
    text-shadow: 2px 2px 2px yellowgreen;
}

.col-md-12{
    text-align: center;
}

#startButton button {
    width: 200px;
    padding: 50px;
    box-shadow: 2px 2px 2px rgb(207, 204, 204);
}

button:hover {
    background: rgb(216, 218, 107);   
}
#countDown{
    font-size: 20px;
    padding: 20px;
}
.row2 {
    text-align: center;  
}
#timer {
    clear:both;
    font-size: 45px;
}
#question {
    font-size: 30px;
    padding: 40px;
    font-weight: bold;
}
#answerBtn button{
    clear:both;
    font-size: 25px;
    width: 500px;
    height: 60px;
   
}
.total {
      font-size: 28px;
      font-weight: bolder;
    
}
p#msg{
    font-size: 40px;
    font-weight: bolder;
    color:rgb(211, 207, 214);
    text-shadow: 1px 2px 1px blue
}
.btn-gp {
margin-top: 50px;
width: 100px;
height: 50px;
background-color: brown;
color: rgb(171, 194, 194);
font-size: 20px;
}

#timeup {
    clear:both;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(212, 212, 35);
    margin-top: 100px;

}
