* {
    box-sizing: border-box;
}
body{
    background: silver

}
header {
    text-align: center;
    font-size: 30px;

}

#message{
    text-align: center;
    font-size: 20px;


}
button{
    font-size: 30px;
    
}

button:hover {
    background: orange;
    

}
#start{
    text-align: center;
    font-size: 30px;
    padding: 15px 30px;

}
.row2 {
    text-align: right;
}
.row3 {
    text-align: center;
}
